@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

html, body { height: 100%; }


.bg-soft {
  background:
    radial-gradient(800px 400px at 20% 10%, rgba(255,255,255,0.08), transparent 60%),
    radial-gradient(700px 350px at 80% 0%, rgba(255,255,255,0.06), transparent 55%),
    #000;
}

